
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with 'go test -c'
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go package files
*.o
*.a
*.dep
*.test
*.prof

# Dependency directories
vendor/
